.App {
  text-align: center;
}

.wrapper {
  padding: 20px;
}

.pill {
  width: 18rem;
  margin-bottom: 15px;
}

div.multiple-batches {
  border-top: 8px solid #FC0 !important;
  border-bottom: 8px solid #FC0 !important;
}

.pill .card-title .badge {
  margin-left: 10px;
}

.btnViewTest {
  margin-left: 5px;
}

.iconPillLoad {
  float: right;
  size: 20px;
  cursor: pointer;
}

.lastUpdate {
  font-style: italic;
  color: var(--bs-gray-600);
}